{
    "plugins": [
        "lodash",
        ["react-css-modules", {
            "generateScopedName": "[local]_[sha256:hash:base64:5]",
            "filetypes": {
                ".less": {
                    "syntax": "postcss-less"
                }
            }
        }]
    ],
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry"
        }],
        "@babel/react",
        "@babel/flow"
    ]
}
